﻿table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse
}

th, td {
    padding: 5px;
}

th {
    background-color: lightblue;
}

#formdiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    #formdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #formdiv label {
        font-weight: bolder;
    }

table button {
    padding: 2px;
}


#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

    #updateformdiv label, button, input {
        margin: 10px;
        padding: 7px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }
